<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tem alguma dúvida ou sugestão, fale conosco!
        </p>
        <p style="align-content:flex-end">
            <span>
                <img src="~/Images/Envelope-icon24.png" alt="Icon" height="20" width="20" />
            </span>
            <h6>
                <email endereco="tiagoppvieira@gmail.com" conteudo="Enviar um e-mail"></email>
            </h6>
            <br/>
            <span>
                <img src="~/Images/phone-app-icon.png" alt="Icon" height="20" width="20"><font size="4">(53) 991773037</font>
            </span>
            <span>
                <img src="~/Images/whatsapp-circle.png" alt="Icon" height="20" width="20" />
            </span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span>
                <img src="~/Images/Home-iconred.png" alt="Icon" height="20" width="20"/>
                <font size="2">Rua Prof. Paulo Zanota Da Cruz, 1044 - 96050-000 - Pelotas - RS</font>
            </span>
        </p>
    </div>
</div>