@model LancheListViewModel

<div>
    <h2>@Model.CurrentCategory</h2>
</div>
<h2>@ViewData["Data"]</h2>
<hr />
<br />

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
</div>